<mat-card>
  <mat-card-title>{{ isEdit ? 'Editar Manutenção' : 'Nova Manutenção' }}</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Data</mat-label>
      <input matInput type="date" formControlName="data" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Quilometragem</mat-label>
      <input matInput type="number" formControlName="quilometragem" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Serviço</mat-label>
      <input matInput formControlName="servico" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Observações</mat-label>
      <textarea matInput formControlName="observacoes" rows="3"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Salvar Alterações' : 'Cadastrar' }}
    </button>
  </form>
</mat-card>
