mat-card {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
