mat-card {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 700px;
}

.veiculo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.botoes {
  display: flex;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}
