<h2>Meus Veículos</h2>
<input
  type="text"
  placeholder="Buscar por placa, modelo ou marca..."
  [(ngModel)]="termoBusca"
/>

<a routerLink="/veiculos/novo">+ Novo Veículo</a>

<ul>
  <li *ngFor="let v of veiculosFiltrados">
    <strong>{{ v.placa }}</strong> - {{ v.marca }} {{ v.modelo }} ({{ v.ano }})
    <button (click)="router.navigate(['/veiculos/editar', v.id])">Editar</button>
    <button (click)="excluir(v.id)">Excluir</button>
  </li>
</ul>
<a routerLink="/dashboard">⬅️ Voltar para o Dashboard</a>