<mat-card>
  <mat-card-title>Manutenções do Veículo</mat-card-title>
  <mat-card-subtitle>Veículo ID: {{ veiculoId }}</mat-card-subtitle>

  <div style="margin: 1rem 0;">
    <button mat-raised-button color="primary" [routerLink]="['/manutencoes', veiculoId, 'nova']">
      + Nova Manutenção
    </button>
  </div>

  <mat-card *ngFor="let m of manutencoes" style="margin-bottom: 1rem;">
    <mat-card-content>
      <p><strong>Data:</strong> {{ m.data }}</p>
      <p><strong>Serviço Feito:</strong> {{ m.servico }}</p>
      <p><strong>Km na data do serviço:</strong> {{ m.quilometragem }}</p>
      <p><strong>Observações:</strong> {{ m.observacoes }}</p>
      <button mat-button color="accent" [routerLink]="['/manutencoes', veiculoId, 'editar', m.id]">Editar</button>
      <button mat-button color="warn" (click)="excluir(m.id)">Excluir</button>
    </mat-card-content>
  </mat-card>


  <div style="margin-top: 2rem;">
    <button mat-stroked-button routerLink="/dashboard">⬅️ Voltar para o Dashboard</button>
  </div>
</mat-card>
