mat-card {
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fafafa;
  align-items: center;
}
.manutencao-item {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #1a1a1a;
  margin-bottom: 10px;
}

.manutencao-item p {
  margin: 0;
}

.manutencao-item button {
  margin-top: 5px;
}

.botoes {
  display: flex;
  gap: 0.5rem;
}
