<h2>Manutenções do Veículo</h2>
<a [routerLink]="['/manutencoes', veiculoId, 'nova']">+ Nova Manutenção</a>

<input
  type="text"
  [(ngModel)]="filtro"
  placeholder="Filtrar por serviço..."
  style="margin-bottom: 1rem; padding: 4px; width: 100%;"
/>

<ul>
  <li *ngFor="let m of manutencoes | filtroServico:filtro">
    <strong>{{ m.data }}</strong> - {{ m.servico }} ({{ m.quilometragem }} km)
    <button [routerLink]="['/manutencoes', veiculoId, 'editar', m.id]">Editar</button>
    <button (click)="excluir(m.id)">Excluir</button>
  </li>
</ul>

<a routerLink="/dashboard">⬅️ Voltar para o Dashboard</a>
