<h2>Bem-vindo, {{ usuario?.nome }}</h2>

<div *ngIf="alertas.length > 0" class="alerta-container">
  <h3>⚠️ Alertas</h3>
  <mat-list>
    <mat-list-item *ngFor="let alerta of alertas">
      <mat-icon color="warn">warning</mat-icon>
      <span style="margin-left: 8px;">{{ alerta }}</span>
    </mat-list-item>
  </mat-list>
</div>

<div class="botao-container">
  <button *ngIf="authService.isAdmin()" mat-stroked-button color="accent" routerLink="/usuarios">
    👤 Gerenciar Usuários
  </button>

  <button mat-raised-button color="primary" routerLink="/veiculos">
    Ver Meus Veículos
  </button>

  <button mat-stroked-button color="warn" (click)="logout()">
    Sair
  </button>
</div>
